/Projects/SLA_winDesktop/Win32
/Projects/SLA_winDesktop/Debug
/Projects/SLA_winDesktop/.vs
/Projects/SLA_winDesktop/GeneratedFiles
/build
/Project/SLA_creator.pro.user.4376175
/VisualStudio/Win32
/VisualStudio/.vs
/VisualStudio/SLAvs_86/Debug
/VisualStudio/SLAvs_86/.vs
/VisualStudio/SLAvs_86/GeneratedFiles
